:root{
    --primary-color: #701130;
    --bg-light: #f9f9f9;
    --text-dark: #333;
    --white: #ffffff;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
}

header{
    background-color: var(--white);
    border-bottom: 3px solid var(--primary-color);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

.logo-text{
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}

.logo-dot-pe{
    color: #d43d33;

}

.app-title{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}